.idea
__pycache__/
*.pyc
.ipynb_checkpoints
_old_cmim/
_old_results_and_params/
_old_code/
_old_data/
_clear_start_results/
_clear_start_code/
_additional_xgb_tests/
tables_xgb/
plots_early_cmim*/
data_peri/left.npz
data_peri/right.npz
data_peri/left_pre_vgg.npz
data_peri/right_pre_vgg.npz
data_peri/both_pre_vgg.npz
data_peri/_old_both_pre_vgg.npz
data_peri/_pre_fix_both_vgg.npz
vgg_feat_lsvm_results_prelim/
experiments/vgg_lsvm/results_pre_param_selection/
experiments/mask_pairs/visualizations
*.swp
/data_peri/both_pre_vgg_half.npz
/data_peri/both_pre_vgg_quart.npz
/data_peri/both_pre_vgg_fix.npz
data/240x40_pre_vgg.npz
data/240x40_fixed_pre_vgg.npz
data/240x20_pre_vgg.npz
data/240x20_fixed_pre_vgg.npz
spp_tests/